.app-parent-row{
    border: 1px solid red;
    border-radius: 7px;
}
.pages-col{
    padding-left: 0;
    padding-right: 0;
}
.custom-navbar{
    /* margin-left: -12px; */
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-brand{
    font-size: 16px;
}
.navbar-nav{
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}
ul.navbar-nav li {
    margin: 0 10px;
    text-align: center;
}
.profile-header{
    margin: 15px auto 5px;
}
.profile-header span{
    color: rgb(1, 1, 197);
}